<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTest">

<listeners>
		<listener class-name="com.crm.qa.TestListeners.ExtentReportListener"/>
		 <listener class-name="com.crm.qa.RetryLogic.MyTransformer"/> 
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.qa.TestCases.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteTest -->
